<div class="window black">
  <div class="container">
    <h1>65th &amp; Folsom Mixed-Used Development</h1>
  </div>
</div>
<div class="container row window">
  <div class="columns four projects-images">
    <a href="img/65th4.jpg"><img src="img/65th4.jpg"></a>
    <a href="img/65th3.jpg"><img src="img/65th3.jpg"></a>
    <a href="img/65th2.jpg"><img src="img/65th2.jpg"></a>
    <a href="img/65th1.jpg"><img src="img/65th1.jpg"></a>
  </div>
  <div class="columns eight">
    <h4 class="header-margin">65th &amp; Folsom</h4>
    <h6 class="orange">6438 Folsom Blvd. Sacramento, Ca</h6>
    <p>
      Project Description: This project was a Design Build project very similar construction as the 16th & O project. The work included site work, underground, paving, swimming pool with spa, landscaping, construction of single story wood framed retail shell building, approximately 10,655 GSF, two wood framed four story apartment buildings, approximately 60,340 GSF each including decks, one wood framed three story Live/Work building, approximately 14,791 GSF including decks, one wood framed single story pool room, approximately 700 GSF.
    </p>
  </div>
</div>
