$orange: #D64625;
$green: #35492F;

body {
	font-family: "Open Sans", sans-serif;
}

img {
	width: 100%;
	max-width:100%;
	display: block;
}
h2 {
  font-family:"Slabo 13px", serif;
}
ul {
	margin: 0;
	list-style-type: none;
}

.max-720 {
	max-width:720px;
	margin: 0 auto;
	display: block;
}

.max-420 {
	max-width:420px;
	margin: 0 auto;
	display: block;
}

h1.header-margin, h2.header-margin, h3.header-margin, h4.header-margin, h5.header-margin {
	margin: 0 0 10px 0 !important;
}

.margin-none {
	margin:0 !important;
}

a.white, a.white:hover, a.white:active, a.white:focus {
	color: #fff;
}

a.black, a.black:hover, a.black:active, a.black:focus {
	color: #333;
}

body {
	margin-top:50px;
}

body.index {
	margin-top:0px;
}

video {
	max-width: 100%;
	width:100%;
	display: block;
}

.styled {
	font-family:'Slabo 13px', serif;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: none;
}

.orange {
	color: $orange;
}

.black {
	background-color: #333;
	color:#fff;
}

.black-bg {
	background-color: #333;
}

.text-center {
	text-align:center;
}

.relative {
	position: relative;
}

.learn, .learn:hover, .learn:active {
	color: rgba(0,0,0,0.6);
	font-weight:700;
	line-height:1;
	text-transform:uppercase;
	&.text-center {
		display: block;
	}
	&:before {
		content:"";
		font-family:fontawesome;
	}
}

.banner {
	padding: 40px 15px 40px 15px;
	background-color: #333;
	h2 {
		color: #fff;
		font-weight: 300;
		text-align: center;
		text-transform: none;
		@media screen and (min-width:750px) {
			font-size: 48px;
		}
	}
	&.orange {
		background-color: $orange;
	}
	&.green {
		background-color: $green;
	}
}

.padded {
	padding: 45px 0;
	@media all screen and (max-width:750px) {
		padding: 25px 0;
	}
}

.padded-sm {
	padding: 25px 0;
	@media all screen and (max-width:750px) {
		padding: 12px 0;
	}
}

.window {
	padding: 65px 0;
	&.black {
		background: #333;
		color: #fff;
	}
	&.orange {
		background: $orange;
		color: #fff;
	}
	&.green {
		background-color: $green;
		color: #fff;
	}
	@media all screen and (max-width:750px) {
		padding: 30px 0;
	}
}

.content-menu {
	margin-bottom: 25px;
	h5 {
		border-bottom: 5px solid $orange;
	}
	ul {
		list-style-type: none;
		margin:0;
		li {
			margin:0 0 7px 0;
			a, a:hover, a:focus, a:active {
				color: $orange;
				display: block;
				font-size: 18px;
				line-height: 1.3;
				&:hover {
					color: shade($orange, 20%);
				}
			}
			a.active {
				padding: 0 5px;
				border-left: 5px solid #333;
			}
		}
	}
}

.team {
	img:first-of-type {
		margin-bottom: 35px;
	}
	& > h2 {
		margin-top: 45px;
		&:first-of-type {
			margin-top: 0;
		}
	}
	.row {
		margin-top: 35px;
		&:first-of-type {
			margin-top: 0;
		}
	}
}
