.number {
  font-size: 120px !important;
}

.blueprint {
  background: url('../images/blueprint2.jpg')no-repeat center scroll;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
  h1, h2 {
  	position: relative;
  	z-index: 2;
  }
}

ul.numbered {
	position: relative;
	li {
		padding:0;
	}
	span {
		line-height: 25px;
		font-size: 28px;
		position: absolute;
		left: -32px;
	}
}