<footer class="window orange">
  <div class="container">
    <div style="text-align:center;" class="columns twelve footlink">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </div>
    <div style="text-align:center;" class="columns twelve">
      <ul>
        <li>
          <p style="margin-top:10px;font-size:13px;">6050 Warehouse Way, Sacramento, CA 95826
            <br> &copy; Copyright 2015 Westfork Construction Inc.</p>
        </li>
      </ul>
    </div>
    <div style="text-align:center;" class="columns twelve">
      <ul>
        <li>
          <p style="color:lightgray;font-size:10px;margin:10px 0;">Website Designed and Built by Enigma Creative Group</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
