<!-- NAV -->
<nav class="trans">
  <div class="relative">
    <div id="hamburger"><span>MENU</span></div>
    <a id="siteid" href="index.html">
      <%= image_tag 'logo.png' %>
    </a>
    <div class="right">
      <span class="button button-none">(916) 452-8197</span>
      <a class="button button-primary" href="contact.html">Contact</a>
    </div>
  </div>
</nav>
<section class="mobile-menu">
  <ul>
    <li class=""><a href="projects.html"><span>Projects</span></a>
      <!-- <ul>
				<li><a href="projects.html">All Projects</a></li>
				<li><a href="projects.html#Apartments">Apartments</a></li>
				<li><a href="projects.html#Hospitals">Hospitals</a></li>
				<li><a href="projects.html#Commercial">Commercial</a></li>
				<li><a href="projects.html#Industrial">New Projects</a></li>
			</ul> -->
    </li>
    <li class=""><a href="services.html"><span>Services</span></a>
      <!-- 	<ul>
				<li><a href="services.html">All Services</a></li>
				<li><a href="services.html">Service 1</a></li>
				<li><a href="services.html">Service 2</a></li>
				<li><a href="services.html">Service 33</a></li>
			</ul> -->
    </li>
    <li class=""><a href="team.html"><span>Management Team</span></a>
      <!-- <ul>
        <li><a href="about.html">About us</a></li>
        <li><a href="about.html">Our Team</a></li>
        <li><a href="about.html">Careers</a></li>
      </ul> -->
    </li>
    <li class=""><a href="careers.html"><span>Careers</span></a>
      <!-- <ul>
        <li><a href="about.html">About us</a></li>
        <li><a href="about.html">Our Team</a></li>
        <li><a href="about.html">Careers</a></li>
      </ul> -->
    </li>
    <li class=""><a href="about.html"><span>About</span></a>
      <!-- <ul>
				<li><a href="about.html">About us</a></li>
				<li><a href="about.html">Our Team</a></li>
				<li><a href="about.html">Careers</a></li>
			</ul> -->
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</section>
<!-- /NAV -->
