<!-- NAV -->
<nav class="trans">
  <div class="relative">
    <div id="hamburger"><span>MENU</span></div>
    <% link_to '/', :id=>'siteid' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <div class="right">
      <span class="button button-none">(916) 452-8197</span>
      <%= link_to 'Contact', 'contact.html', :class=>'button button-primary' %>
    </div>
  </div>
</nav>
<section class="mobile-menu">
  <ul>
    <li>
      <% link_to 'projects.html' do %>
        <span>Projects</span>
      <% end %>
    </li>
    <li>
      <% link_to 'services.html' do %>
        <span>Services</span>
      <% end %>
    </li>
    <li>
      <% link_to 'about.html' do %>
        <span>About</span>
      <% end %>
    </li>
    <li>
      <% link_to 'president.html' do %>
        <span>Our President</span>
      <% end %>
    </li>
    <li>
      <% link_to 'careers.html' do %>
        <span>Careers</span>
      <% end %>
    </li>
    <li>
      <li>
        <% link_to 'contact.html' do %>
          <span>Contact</span>
        <% end %>
      </li>
    </li>
  </ul>
</section>
<!-- /NAV -->
