---
title: about
---

<div class="window black">
  <div class="container">
    <h1>About us</h1>
  </div>
</div>
<div class="container row window">
  <div class="columns four">
    <%= image_tag 'food1.jpg', :class=>'margin-bottom' %>
  </div>
  <div class="columns eight">
    <h2 id="histie">History</h2>
    <p>
      Dave Congdon, owner and senior project manager, has 35+ years’ experience in the construction industry. His experience is extremely valuable in providing preliminary budgets, constructability reviews, realistic schedules and valuable input and analysis of MEP and Structural Design team partners.
    </p>
    <p>
      Westfork Construction was founded in 1995, seventeen years after Dave started his construction career. We have always specialized in design build projects and have provided a very comprehensive pre-construction service.
    </p>
  </div>
</div>
<div class="container row window">
  <div class="columns eight">
    <h5 id="westie">Westfork Today</h5>
    <p>
      Our diverse project experience includes: parking structures, retail, commercial office, mixed-use, multi-family and healthcare buildings ranging from
      <$1m to $20M+. With a long list of ongoing and completed large and small projects, we maintain a steady stream of work and backlog. <br>
        <br> With our honest, collaborative and straight-forward approach, we have repeatedly earned the trust of our clientele over the past twenty years. Our commitment to the success of negotiated, design/build projects has allowed us to keep long term relationships with our clients.
    </p>
  </div>
  <div class="columns four">
    <%= image_tag 'green4.jpg' %>
  </div>
</div>
<div class="flexbox">
  <div class="col">
    <h2>Careers</h2>
    <p> Browse our job listings.</p>
    <%= link_to 'Careers', 'careers.html', :class=>'button' %>
  </div>
  <div class="col">
    <h2>Management Team</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    <%= link_to 'The Team', 'team.html', :class=>'button' %>
  </div>
</div>
