---
title: Careers
---

<div class="window black">
  <div class="container">
    <h1>Careers</h1>
  </div>
</div>
<div class="container row window">
  <div class="columns twelve">
    <h2>The Company</h2>
    <p>
      West Fork Construction is a Sacramento based general contractor looking to add an additional Project Manager to our staff with proven ability to help us continue growing into the future. West Fork Construction has a proven track record completing 20 successful years of construction projects. Our diverse project experience includes a long list of both large and small medical office buildings, retail, commercial office buildings and mixed use apartments.
    </p>
    <p>
      Our projects range in size up to $20 million.   With our honest, collaborative straight forward approach we have repeatedly earned the trust of our clientele over the years. Our effort has allowed us to primarily preform negotiated, design/build projects. We are usually brought in very early in the preconstruction stages to facilitate in the design and constructability of the project.  Our commitment to the success of each project has allowed us to keep long term relationships with our clients.
    </p>
    <h5>Available Listings:</h5>
    <ul>
      <li><%= link_to 'Project Superintendent', 'project-superintendent.html'%></li>
      <li><%= link_to 'Senior Project Manager', 'senior-pm.html'%></li>
    </ul>
  </div>
</div>
<div class="window black row">
  <div class="container max-420 text-center">
    <h5>Apply Now</h5>
    <p>Contact us today. Follow the link below</p>
    <%= link_to 'Contact us', 'contact.html', :class=>'button' %>
  </div>
</div>
