<div class="window green">
  <div class="text-center container">
    <h1>Contact us</h1>
  </div>
</div>
<div class="container window">
    <div class="row">
      <div class="twelve columns text-center">
        <h5>headline blurb</h5>
        <p>little blurb underneath that</p>
      </div>
    </div>
  <form>
    <div class="row">
      <div class="six columns fixer">
        <label for="EmailInput"><span>*</span> Email</label>
        <input class="u-full-width" type="email" placeholder="email@example.com" id="EmailInput" required>
        <label for="RecipientInput"><span>*</span> Reason for contacting</label>
        <select class="u-full-width" id="RecipientInput" required>
          <option value="Option 1">Construction Services</option>
          <option value="Option 2">Employment Opportunities</option>
        </select>
        <label for="ReferInput">Referred by</label>
        <input class="u-full-width" type="text" id="ReferInput">
        <label for="exampleMessage"><span>*</span> Message</label>
        <textarea class="u-full-width" id="exampleMessage"></textarea>
        <input class="button-primary contacty text-center" type="submit" value="Submit" required>
      </div>
    </div>
  </form>
</div>
<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->
<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
</div>
