<div class="window black">
  <div class="container">
    <h1>Westfork President</h1>
  </div>
</div>
<div class="container row window">
  <div class="columns four">
    <%= image_tag "dave.jpg", :class=>"margin-bottom" %>
  </div>
  <div class="columns eight">
    <h2 id="partners">Dave Congdon</h2>
    <p>
      Dave's philosophy is to treat everyone with respect. Relationships built on honesty and trust will always create the best results. All of our projects are completed with utmost attention to detail, using the best contractors, employees and materials available. We dont just want your business... we want your repeat business, and will do what ever it takes to create complete satisfaction.
    </p>
    <h5>Daves Resume:</h5>
    <p>
      Dave has been in the construction industry for over 35 years. After obtaining his general contractor license in 1980, he began his own construction company. In 1995 he formed West Fork Construction, Inc. As an owner of a construction company, his experience ranges from "hands on" work in the field to managing multiple projects. He is the key to overseeing and coordinating West Fork's construction services throughout our full array of projects. He becomes involves early in the pre-construction phase to ensure we lay the ground work for a successful project. He can be counted on to pull together the right design team, develop appropriate project goals, and monitor results for success.
    </p>
    <p>
      He has successfully completed a multitude of projects for as little as a few thousand dollars up to tens of millions. His ultimate aim is customer satisfaction and motivated / fairly treated employees. He grew up in the Sacramento area and earned his BA in Industrial Technology at California State University, Fresno.
    </p>
  </div>
</div>
