<div class="window black">
  <div class="container">
    <h1>Team</h1>
  </div>
</div>
<div class="container row window">
  <div class="columns ten team">
    <img src="http://placehold.it/720x280">
    <h2 id="partners">Partners</h2>
    <div class="row">
      <div class="columns four">
        <%= image_tag 'http://placehold.it/620x620' %>
      </div>
      <div class="columns eight">
        <h2 class="margin-none styled">John Doe</h2>
        <h5 class="orange">CEO</h5>
        <p>
          Irure magna dolor anim nisi id aute aute labore elit fugiat ullamco mollit eu do in qui ex reprehenderit Excepteur laboris quis in tempor mollit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns four">
        <%= image_tag 'http://placehold.it/620x620' %>
      </div>
      <div class="columns eight">
        <h2 class="margin-none styled">John Doe</h2>
        <h5 class="orange">CTO</h5>
        <p>
          Irure magna dolor anim nisi id aute aute labore elit fugiat ullamco mollit eu do in qui ex reprehenderit Excepteur laboris quis in tempor mollit.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="window row">
  <div class="container max-420 text-center">
    <h5>Join the team</h5>
    <p>Become a part of West Fork</p>
    <%= link_to 'Careers', 'careers.html', :class=>'button' %>
  </div>
</div>
