footer {
	.container {
		max-width: 460px;
	}	
	ul {
		list-style-type: none;
		li {
			margin-bottom: 3px;
		}
	}
	a, a:hover, a:active, a:focus {
		color:#fff;
		&:hover {
			color: rgba(250,250,250,0.7);
		}
	}
	i {
		font-size: 28px !important;
	}
	span {
		color: rgba(250,250,250,0.4);
	}
}